.helpBlock {
    border-radius: 8px;
    width: 197px;
    height: 238px;
    background: var(--need-help-bg-color);
    display: flex;
    flex-direction: column;
    padding: 14px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .helpBlock {
        width: 212px;
        height: 272px;
        padding: 20px;
    }
}

.plant {
    width: 54px;
    height: 78px;
    margin-bottom: 14px;
    animation: live-plant 5s ease-in-out infinite alternate;
    transform-origin: center bottom;
}

@keyframes live-plant {
    0% {
        transform: rotateZ(-5deg);
    }

    50% {
        transform: rotateZ(5deg);
    }

    100% {
        transform: rotateZ(-5deg);
    }
}

.helpText {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    color: var(--main-text-color);
    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
    .helpText {
        font-size: 14px;
        line-height: 1.42857;
    }
}

.helpText span {
    color: var(--accent-text-color);
}

.helpOpenModal {
    display: flex;
    width: 94px;
    height: 20px;
    gap: 8px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: var(--main-text-color);
    background-color: transparent;
    border: none;
}

.helpOpenModalIcon {
    display: block;
    width: 20px;
    height: 20px;
    stroke: var(--main-text-color);
    fill: none;
}

.helpModal {
    background-color: var(--modal-windows-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border: 1px solid var(--modal-windows-border-color);
    border-radius: 8px;
    padding: 24px;
    max-width: 335px;
    box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
}

@media screen and (min-width: 768px) {
    .helpModal {
        max-width: unset;
        width: 400px;
    }
}