.subtitle {
  margin: 24px 0 14px 0;
  letter-spacing: -0.28px;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.modalTitle {
  margin-bottom: 24px;
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.36px;
}

.inputField {
  width: 100%;
  height: 49px;
  padding: 0 18px;
  border: 1px solid var(--accent-text-color);
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.28571;
  color: var(--secondary-text-color);
  background-color: var(--modal-input-bg);
  outline: none;
  transition: all var(--transition);
  opacity: 0.4;
}

.inputField::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--theme-main-text-color);
}

.inputField:valid {
  opacity: 1;
}

.inputField:hover,
.inputField:focus,
.inputField:active {
  border: 1px solid var(--theme-text-hover-color);
  opacity: 1;
}

.inputErrorMessage {
  position: absolute;
  right: 24px;
  top: 55px;
  font-size: 12px;
  color: var(--error-color);
}

.markPickersvg {
  width: 18px;
  height: 18px;
  stroke: var(--secondary-text-color-low-op);
  fill: none;
  transition: stroke var(--transition);
}

.markPickersvg:hover,
.markPickersvg:focus {
  stroke: var(--secondary-text-color);
}

.markPickerWrapper {
  display: flex;
  gap: 8px;
}

.markPickerlabel svg {
  cursor: pointer;
  display: block;
}

.markPickerinput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.markPickerinput:checked+svg {
  stroke: var(--secondary-text-color);
}

.backPickerWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 252px;
  height: 60px;
  margin-bottom: 40px;
}

.backPickerLabel img {
  cursor: pointer;
  transition: all var(--transition);
}

.backPickerLabel img:hover,
.backPickerLabel img:focus {
  transform: scale(1.3);
  border: 2px solid var(--theme-wrapper-border);
  border-radius: 10px;
}

.backPickerInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.backPickerInput:checked+img {
  transform: scale(1.3);
  border: 2px solid var(--theme-wrapper-border);
  border-radius: 10px;
}