.logo {
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;
    gap: 4px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    color: #658556;
    transform: scale(1.1)
}