.labelWrapper {
    display: inline-flex;
    gap: 8px;
}

.label {
    appearance: none;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    cursor: pointer;
    outline: transparent;
    transition: outline var(--transition);
}

.label:checked {
    outline: 1.8px solid var(--modal-windows-bg-color);
    outline-offset: -3px;
}