.subtitle {
  margin: 24px 0 14px 0;
  letter-spacing: -0.28px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.duplicate {
  position: absolute;
  margin-top: 2px;
  margin-left: 5px;
  color: red;
}

.modalTitle {
  margin-bottom: 24px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.36px;
}

.inputField {
  width: 100%;
  height: 49px;
  padding: 0 18px;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  outline: none;
  transition: border 250ms ease-in;
}

.inputField::placeholder {
  color: #fff;
  text-transform: capitalize;
}
.inputField:hover,
.inputField:focus,
.inputField:active {
  outline: none;
  border: 1px solid #bedbb0;
  background-color: transparent !important;
}

.inputErrorMessage {
  position: absolute;
  margin-top: 2px;
  font-size: 14px;
  color: #e09cb5;
}

.markPickerWrapper {
  display: flex;
  gap: 8px;
}

.markPickerlabel svg {
  cursor: pointer;
}

.markPickersvg {
  width: 18px;
  height: 18px;
  stroke: rgba(255, 255, 255, 0.5);
  fill: transparent;
}

.markPickerinput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.markPickerinput:checked + svg {
  stroke: #fff;
}
.backPickerWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 252px;
  height: 60px;
  margin-bottom: 16px;
}

.backPickerLabel.img {
  cursor: pointer;
}

.backPickerInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.backPickerInput:checked + img {
  transform: scale(1.3);
  border: 2px solid #bedbb0;
  border-radius: 10px;
}
