.container {
  display: flex;
  background-color: var(--main-bg-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 6rem);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    height: calc(100vh - 195px);
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-height: calc(100vh - 6.8rem);    
  }
}

@media screen and (min-width: 1440px) {
  .container {
    height: 100%;
    max-width: 118rem;
  }
}

.bgImage1 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/blooming-tree.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage1 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/blooming-tree-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage1 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/01tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage1 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/01tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage1 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/01phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage1 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/01phone2x.jpg');
  }
}

.bgImage2 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/mountains.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage2 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/mountains-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage2 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/02tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage2 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/02tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage2 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/02phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage2 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/02phone2x.jpg');
  }
}

.bgImage3 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/fern.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage3 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/fern-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage3 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/03tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage3 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/03tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage3 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/03phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage3 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/03phone2x.jpg');
  }
}

.bgImage4 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/sky.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage4 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/sky-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage4 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/04tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage4 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/04tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage4 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/04phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage4 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/04phone2x.jpg');
  }
}

.bgImage5 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/drop.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage5 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/drop-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage5 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/05tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage5 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/05tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage5 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/05phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage5 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/05phone2x.jpg');
  }
}

.bgImage6 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/yaht.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage6 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/yaht-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage6 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/06tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage6 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/06tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage6 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/06phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage6 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/06phone2x.jpg');
  }
}

.bgImage7 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/magnolia.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage7 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/magnolia-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage7 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/07tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage7 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/07tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage7 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/07phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage7 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/07phone2x.jpg');
  }
}

.bgImage8 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/young-moon.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage8 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/young-moon-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage8 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/08tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage8 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/08tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage8 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/08phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage8 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/08phone2x.jpg');
  }
}

.bgImage9 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/ocean-shore.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage9 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/ocean-shore-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage9 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/09tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage9 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/09tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage9 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/09phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage9 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/09phone2x.jpg');
  }
}

.bgImage10 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/moon.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage10 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/moon-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage10 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/10tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage10 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/10tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage10 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/10phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage10 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/10phone2x.jpg');
  }
}

.bgImage11 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/air-ballon.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage11 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/air-ballon-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage11 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/11tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage11 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/11tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage11 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/11phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage11 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/11phone2x.jpg');
  }
}

.bgImage12 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/gorge.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage12 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/gorge-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage12 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/12tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage12 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/12tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage12 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/12phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage12 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/12phone2x.jpg');
  }
}

.bgImage13 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/azure-coast.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage13 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/azure-coast-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage13 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/13tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage13 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/13tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage13 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/13phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage13 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/13phone2x.jpg');
  }
}

.bgImage14 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/hot-air-balloon.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage14 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/hot-air-balloon-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage14 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/14tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage14 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/14tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage14 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/14phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage14 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/14phone2x.jpg');
  }
}

.bgImage15 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/boardBacgrounds/1x/milky-way.jpg');
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .bgImage15 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/2x/milky-way-2x.jpg');
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .bgImage15 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet1x/15tablet.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bgImage15 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/tablet2x/15tablet2x.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bgImage15 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone1x/15phone.jpg');
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .bgImage15 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../../assets/images/boardBacgrounds/phone2x/15phone2x.jpg');
  }
}

.container {
  width: 100%;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-bottom: 52px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-bottom: 16px;
  }
}