:root {
    /* priority label*/
    --priority-low-color: #8fa1d0;
    --priority-medium-color: #e09cb5;
    --priority-high-color: #bedbb0;
    --priority-without-color: rgba(22, 22, 22, 0.3);

    /* welcome page*/
    --primary-black-text-color: #161616;
    --light-green-color: #bedbb0;
    --bacground-welcome-form-color: #151515;
    --white-color: #ffffff;
    --secondary-text-color: rgba(22, 22, 22, 0.3);
}

[data-theme='light'] {
    --accent-bg-color: #bedbb0;
    --accent-text-color: #bedbb0;
    --main-text-color: #161616;
    --secondary-text-color: #161616;
    --buttons-color: #161616;
    --secondary-buttons-color: #121212;
    --buttons-bg-color: #bedbb0;
    --burger-color: #161616;
    --main-bg-color: #f6f6f7;
    --main-text-color-low-op: rgba(22, 22, 22, 0.50);
    --secondary-text-color-low-op: rgba(22, 22, 22, 0.50);
    --main-text-color-very-low-op: rgba(22, 22, 22, 0.10);
    --modal-border-color-low-op: rgba(22, 22, 22, 0.10);
    --modal-bg-color: rgba(21, 21, 21, 0.30);
    --need-help-bg-color: #f6f6f7;
    --modal-windows-bg-color: #fcfcfc;
    --main-aside-color: #fff;
    --main-header-color: #fcfcfc;
    --main-page-text-color: rgba(22, 22, 22, 0.70);
    --theme-wrapper: #fcfcfc;
    --theme-wrapper-border: #bedbb0;
    --theme-main-text-color: rgba(22, 22, 22, 0.80);
    --theme-text-color: #161616;
    --theme-text-hover-color: #bedbb0;
    --logo-icon-color: #fff;
    --logo-icon-bg-color: #1f1f1f;
    --white-color: #fff;
    --white-color-low-op: rgba(255, 255, 255, 0.3);
    --black-color: #161616;
    --green-color: #bedbb0;
    --error-color: #ff2929;
    --priority-color-low: #8fa1d0;
    --priority-color-without: rgba(22, 22, 22, 0.3);
    --priority-color-medium: #e09cb5;
    --priority-color-high: #bedbb0;
    --scroll-thumb: rgba(22, 22, 22, 0.10);
    --scroll-bar: #e8e8e8;
    --logout-icon: #bedbb0;
    --modal-btn-hover: #9dc888;
    --modal-plus-icon: #fff;
    --modal-plus-icon-wrapper: #161616;
    --default-avatar: #fff;
    --add-column-btn: #fff;
    --add-column-plus-wrapper: #161616;
    --card-list-scroll-thumb: rgba(22, 22, 22, 0.1);
    --card-list-scroll-bar: rgba(22, 22, 22, 0.10);
    --default-icon-background: #f6f6f7;
    --calendar-bg-color: #fff;
    --calendar-numbers-out-low-op: rgba(22, 22, 22, 0.2);
}

[data-theme='dark'] {
    --accent-bg-color: #bedbb0;
    --accent-text-color: #bedbb0;
    --main-text-color: #fff;
    --secondary-text-color: #fff;
    --buttons-color: #161616;
    --secondary-buttons-color: #121212;
    --buttons-bg-color: #bedbb0;
    --burger-color: #fff;
    --main-bg-color: #1f1f1f;
    --main-text-color-low-op: rgba(255, 255, 255, 0.50);
    --secondary-text-color-low-op: rgba(255, 255, 255, 0.50);
    --main-text-color-very-low-op: rgba(255, 255, 255, 0.10);
    --modal-border-color-low-op: rgba(255, 255, 255, 0.10);
    --modal-bg-color: rgba(21, 21, 21, 0.30);
    --need-help-bg-color: #1f1f1f;
    --modal-windows-bg-color: #151515;
    --main-aside-color: #121212;
    --main-header-color: #161616;
    --main-page-text-color: rgba(255, 255, 255, 0.5);
    --theme-wrapper: #151515;
    --theme-wrapper-border: #bedbb0;
    --theme-main-text-color: rgba(255, 255, 255, 0.8);
    --theme-text-color: rgba(255, 255, 255, 0.5);
    --theme-text-hover-color: #bedbb0;
    --logo-icon-color: #fff;
    --logo-icon-bg-color: #1f1f1f;
    --white-color: #fff;
    --white-color-low-op: rgba(255, 255, 255, 0.3);
    --black-color: #161616;
    --green-color: #bedbb0;
    --error-color: #ff2929;
    --priority-color-low: #8fa1d0;
    --priority-color-without: rgba(255, 255, 255, 0.30);
    --priority-color-medium: #e09cb5;
    --priority-color-high: #bedbb0;
    --scroll-thumb: rgba(72, 72, 72, 0.5);
    --scroll-bar: #121212;
    --logout-icon: #bedbb0;
    --modal-btn-hover: #9dc888;
    --modal-plus-icon: #fff;
    --modal-plus-icon-wrapper: #161616;
    --default-avatar: #151515;
    --add-column-btn: #121212;
    --add-column-plus-wrapper: #fff;
    --card-list-scroll-thumb: #121212;
    --card-list-scroll-bar: rgba(255, 255, 255, 0.10);
    --default-icon-background: #1f1f1f;
    --calendar-bg-color: #1f1f1f;
    --calendar-numbers-out-low-op: rgba(255, 255, 255, 0.2);
}

[data-theme='violet'] {
    --accent-bg-color: #bedbb0;
    --accent-text-color: #5255bc;
    --main-text-color: #fff;
    --secondary-text-color: #161616;
    --buttons-color: #fff;
    --secondary-buttons-color: #fff;
    --buttons-bg-color: #b8bcfd;
    --burger-color: #161616;
    --main-bg-color: #d6d8ff;
    --main-text-color-low-op: rgba(255, 255, 255, 0.50);
    --secondary-text-color-low-op: rgba(22, 22, 22, 0.50);
    --main-text-color-very-low-op: rgba(255, 255, 255, 0.10);
    --modal-border-color-low-op: rgba(22, 22, 22, 0.10);
    --modal-bg-color: rgba(21, 21, 21, 0.30);
    --need-help-bg-color: rgba(236, 237, 253, 0.40);
    --modal-windows-bg-color: #fcfcfc;
    --main-aside-color: #5255bc;
    --main-header-color: #fff;
    --main-page-text-color: rgba(22, 22, 22, 0.70);
    --theme-wrapper: #fcfcfc;
    --theme-wrapper-border: #ecedfd;
    --theme-main-text-color: rgba(22, 22, 22, 0.80);
    --theme-text-color: #161616;
    --theme-text-hover-color: #5255bc;
    --logo-icon-color: #5255bc;
    --logo-icon-bg-color: #ecedfd;
    --white-color: #fff;
    --white-color-low-op: rgba(255, 255, 255, 0.3);
    --black-color: #161616;
    --green-color: #bedbb0;
    --error-color: #ff2929;
    --priority-color-low: #8fa1d0;
    --priority-color-without: rgba(22, 22, 22, 0.3);
    --priority-color-medium: #e09cb5;
    --priority-color-high: #bedbb0;
    --scroll-thumb: #b8bcfd;
    --scroll-bar: #fff;
    --logout-icon: #fff;
    --modal-btn-hover: #7b7ede;
    --modal-plus-icon: #161616;
    --modal-plus-icon-wrapper: #fff;
    --default-avatar: #fff;
    --add-column-btn: #fff;
    --add-column-plus-wrapper: #5255bc;
    --card-list-scroll-thumb: #b8bcfd;
    --card-list-scroll-bar: #fff;
    --default-icon-background: #ecedfd;
    --calendar-bg-color: #fff;
    --calendar-numbers-out-low-op: rgba(22, 22, 22, 0.2);
}