.columnsListContainer {
  margin-right: 34px;
}

.columnList {
  display: flex;
  gap: 34px;
}

.columnItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.columnTitle {
  display: flex;
  width: 334px;
  font-size: 14px;
  font-weight: 500;
  padding: 18px 20px;
  margin-bottom: 14px;
  background: var(--add-column-btn);
  color: var(--secondary-text-color);
  border-radius: 8px;
  letter-spacing: -0.02em;
}

.btnIcon {
  background-color: transparent;
  display: flex;

  &:not(:last-child) {
    margin-left: auto;
    margin-right: 8px;
  }
}

.columnTitleIcon {
  stroke: var(--modal-plus-icon);
  stroke-opacity: 0.5;

  &:hover,
  &:focus {
    stroke: var(--theme-text-hover-color);
  }
}
