.headerContainer {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background: var(--main-header-color);
  justify-content: space-between;
}

.userblock {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    height: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .headerContainer {
    justify-content: right;
  }
}