.box {
    position: relative;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bacground-welcome-form-color);
}

@media screen and (min-width: 768px) {
    .box {
        width: 424px;
        padding: 40px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .form {
        width: 424px;
        padding: 0 40px;
    }
}

.input {
    width: 100%;
    padding: 14px 18px;
    font-size: 14px;
    letter-spacing: -0.28px;
    color: var(--white-color);
    border-radius: 8px;
    border: 1px solid var(--light-green-color);
    background: #1f1f1f;
    box-shadow: 0px 4px 16px 0px var(--shadow-color);
    box-sizing: border-box;
    opacity: 0.4;
    transition: var(--transition);
}

.input:focus {
    outline: none;
    opacity: 1;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 14px;
    margin-bottom: 24px;
}

.wrap {
    width: 100%;
    color: var(--inactive-link-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:active {
    stroke: var(--white-color);
}

.links {
    display: flex;
    gap: 14px;
    margin-bottom: 40px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .links {
        margin-top: 0;
    }
}


.link {
    color: var(--inactive-link-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    text-decoration: none;
    transition: var(--transition);
}

.link:hover {
    color: var(--white-color);
}

.activelink {
    color: var(--white-color);
}

.errorMessage {
    color: var(--validation-error-color);
    margin: 0 0 5px 0;
    text-align-last: left;
    font-size: 12px;
}

.wrapper {
    position: relative;
    top: -50px;
}

.icon {
    position: absolute;
    top: 16px;
    right: 18px;
    stroke: currentColor;
    fill: none;
    cursor: pointer;
}

.button {
    width: 100%;
    display: flex;
    height: 49px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    cursor: pointer;
    transition: var(--transition);
    padding: 14px 0;
    color: var(--primary-black-text-color);
    background-color: var(--light-green-color);
}

.button:hover {
    background-color: var(--hover-color);
    transition: var(--transition);
    color: var(--white-color);
}

.button:focus {
    background-color: var(--hover-color);
    transition: var(--transition);
    color: var(--white-color);
}