.theme_container {
  width: 68px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme_text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.theme_icon {
  width: 16px;
  height: 16px;
  stroke-width: 1.5px;
  stroke: rgba(255, 255, 255, 0.8);
}
