.burgerIcon {
  width: 24px;
  height: 24px;
  background-color: transparent;
  stroke: var(--burger-color);
}

.btnBurger {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burgerIcon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .burgerIcon {
    display: none;
  }
}