.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--theme-text-hover-color);
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--buttons-color);
    transition: background-color var(--transition);
}

.button:hover,
.button:focus {
    background-color: var(--modal-btn-hover);
}

.plus>svg {
    width: 14px;
    height: 14px;
    stroke: var(--modal-plus-icon);
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-plus-icon-wrapper);
    width: 28px;
    height: 28px;
    border-radius: 8px;
    padding: 7px;
    text-align: center;
    margin-right: 8px;
}