.btnAddColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  background-color: var(--add-column-btn);
  min-width: 300px;
  height: 56px;
  padding: 14px 0px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--secondary-text-color);
  transition: var(--transition);
}

@media screen and (min-width: 340px) {
  .btnAddColumn {
    min-width: 334px;
  }
}

.btnPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--add-column-plus-wrapper);
  width: 28px;
  height: 28px;
  border-radius: 8px;
  padding: 7px;
  text-align: center;
}

.btnPlus:hover,
.btnPlus:focus {
  background-color: var(--modal-btn-hover);
}

.btnPlus>svg {
  width: 14px;
  height: 14px;
  stroke: var(--add-column-btn);
}