.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: 14px;
}

.userName {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--secondary-text-color);
  margin-right: 8px;
}

.userIcon {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
  fill: var(--logo-icon-color);
}