.helpForm {
    display: flex;
    flex-direction: column;
}

.helpFormTitle {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 24px;
}

.helpEmailInput {
    border: 1px solid var(--accent-text-color);
    border-radius: 8px;
    width: 287px;
    height: 49px;
    margin-bottom: 14px;
    padding: 14px 18px;
    color: var(--secondary-text-color);
    background-color: var(--modal-input-bg);
    box-shadow: 0 4px 16px 0 var(--modal-input-shadow);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    opacity: 0.4;
    outline: none;
    transition: all var(--transition);
}

.helpEmailInput:valid {
    opacity: 1;
}

.helpEmailInput:hover,
.helpEmailInput:focus,
.helpEmailInput:active {
    border: 1px solid var(--theme-text-hover-color);
    opacity: 1;
}

.helpEmailInput::placeholder {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--theme-main-text-color);
}

@media screen and (min-width: 768px) {
    .helpEmailInput {
        width: 352px;
    }
}

.helpCommentInput {
    border: 1px solid var(--accent-text-color);
    border-radius: 8px;
    width: 287px;
    height: 120px;
    margin-bottom: 24px;
    padding: 14px 18px;
    color: var(--secondary-text-color);
    background-color: var(--modal-input-bg);
    box-shadow: 0 4px 16px 0 var(--modal-input-shadow);
    resize: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    opacity: 0.4;
    outline: none;
    transition: all var(--transition);
}

.helpCommentInput:hover,
.helpCommentInput:focus,
.helpCommentInput:active {
    border: 1px solid var(--theme-text-hover-color);
    opacity: 1;
}

.helpCommentInput::placeholder {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--theme-main-text-color);
}

.helpCommentInput:valid {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .helpCommentInput {
        width: 352px;
    }
}

.label {
    position: relative;
}

.helpErrorField {
    position: absolute;
    right: 3px;
    top: -30px;
    font-size: 12px;
    color: var(--error-color);
}

.helpCommentErrorField {
    position: absolute;
    right: 3px;
    top: -30px;
    font-size: 12px;
    color: var(--error-color);
}