@import-normalize;
/* bring in normalize.css styles */
@import './assets/theme/colorVars.css';

@font-face {
  font-family: 'Poppins';
  src: local("Poppins") url("../src/assets/fonts/Poppins-Regular.ttf") format("truetype"),
    url("../src/assets/fonts/Poppins-Regular.woff") format("woff"),
    url("../src/assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins") url("../src/assets/fonts/Poppins-Medium.ttf") format("truetype"),
    url("../src/assets/fonts/Poppins-Medium.woff") format("woff"),
    url("../src/assets/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins") url("../src/assets/fonts/Poppins-SemiBold.ttf") format("truetype"),
    url("../src/assets/fonts/Poppins-SemiBold.woff") format("woff"),
    url("../src/assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
}

button {
  cursor: pointer;
  display: block;
  font-family: inherit;
  border: none;
}

input,
textarea {
  font-family: inherit;
}